absl-py==2.3.1
accelerate==1.11.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.11.13
antlr4-python3-runtime==4.13.2
attrs==25.1.0
audioread==3.0.1
av==16.0.1
cachetools==3.1.1
cbor2==5.7.1
coloredlogs==15.0.1
compressed-tensors==0.10.2
cupy-cuda12x==13.6.0
dacite==1.9.2
datasets==3.6.0
decord==0.6.0
deepspeed==0.17.5
einops==0.8.1
ffmpy==0.5.0
filelock==3.20.0
fire==0.5.0
flash_attn==2.8.3
fsspec==2024.6.1
gguf==0.17.1
grpcio==1.70.0
hf-xet==1.1.10
huggingface-hub==0.35.3
humanfriendly==10.0
jinja2==3.1.6
json_repair==0.52.2
librosa==0.11.0
llguidance==0.7.30
lm-format-enforcer==0.10.12
matplotlib==3.10.1
modelscope==1.31.0
ms_swift==3.9.1
numba==0.61.2
numpy==1.26.4
opencv-python-headless==4.11.0.86
orjson==3.10.15
outlines==0.1.11
pandas==2.3.3
peft==0.17.1
pillow==10.4.0
protobuf==6.33.0
psutil==7.0.0
pydantic==2.11.10
pydub==0.25.1
pyyaml==6.0.2
ray==2.51.1
regex==2025.10.23
rich==14.2.0
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
sentencepiece==0.2.1
soundfile==0.13.1
soxr==1.0.0
tensorboard==2.20.0
tiktoken==0.12.0
tokenizers==0.22.1
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.66.5
transformers==4.57.1
triton==3.3.1
trl==0.23.1
vllm==0.10.1
xformers==0.0.31
